body{
    
    margin:0;
    padding:20;
    font-size: 30px;
    background-color:lightgrey;
    background-repeat: no-repeat;
    background-position: right top;
    font-family: 'Russo One', sans-serif;
    display: block;
    
}
#nextForm{
    text-decoration: none;
    border: 2px purple solid;
    padding:3px;
    color:rgb(87, 54, 105);
    background-color:lightcoral;
}

#nextForm:hover{
  background-color:lightyellow;  
}

#paris{
    width:100%;
    height: auto;
    opacity: 0.5;
}
h1 {
    text-align: center;
    color:rebeccapurple;
}

p{
    font-size: 30px;
}
.maincontainer{
    align-content: center;
}
input{
    width: 30%;
}

ul{
    list-style: none;
}
#username,#password{
    border-bottom-color: purple;
    border-left-color: none;
    border-right-color: none;
    border-top-color: none;
    border-top: none;
    border-right: none;
    border-left:none;
    background-color:whitesmoke;
    border-block-end-color: black;
    width:100%;

}
body{
    position: relative;
}
.maincontainer{
    position: absolute;
    left:30px;
    top:200px;
    font-size: 30px;
}
.footer{
    position: absolute;
    left:30px;
    bottom:500px;
    font-size: 30px;
}

.footer{
    display: inline-flexbox;
    justify-content: space-evenly;
    padding: 25px 50px;
    margin-right:0px;
    margin-left: 0px;

}

img{
    width: auto;
    height: 200px;
  
}
#cancelButton{
    background-color: red;
    border-radius: 20px;
    color:white;
    height: 40px;
    width: 100px;
}
#loginButton{
    background-color: greenyellow;
    border-radius: 20px;
    color: black;
    height: 50px;
    width: 300px;
    border: none;
}

#loginButton:hover{
    background-color: green;
}

#forgotpassword{
    text-decoration:none;
    font-size: 20px;
}

footer,a:link{
    color:black;
}

#forgotpassword:hover{
    color:red;
}

footer,a:active{
    color:blue;
}

#header{
    font-size: 50px;
    margin:5px;
    padding:0;
}

.footer{
    position: relative;
    left:0px;
    display:inline-block;
}